@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Söhne:wght@400;500;600&family=Signifier&display=swap");

/* Global Dark Mode */

html {
  background-color: #000000; /* Dark background */
  color: #ffffff; /* White text */
  scroll-behavior: smooth;
}

body {
  font-family: "Söhne", sans-serif;
  color: #ffffff; /* White text */
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.dark .text-white {
  color: #ffffff;
}

.dark .bg-white {
  background-color: #1a1a1a; /* Dark card background */
}

.dark .bg-primary {
  background-color: #000000;
}

.dark .bg-secondary {
  background-color: #ffffff; /* Keep it for text color */
}

.dark .border {
  border-color: #444444; /* Light gray border for cards */
}
